@font-face {
  font-family: YuPearl;
  src: url(https://cdn.jsdelivr.net/gh/max32002/YuPearl@1.011/webfont/YuPearl-ExtraLight.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/YuPearl@1.011/webfont/YuPearl-ExtraLight.woff) format("woff");
  
}

@font-face {
  font-family: YuPearl;
  src: url(https://cdn.jsdelivr.net/gh/max32002/YuPearl@1.011/webfont/YuPearl-Light.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/YuPearl@1.011/webfont/YuPearl-Light.woff) format("woff");
  font-weight: 300;
}


@font-face {
  font-family: YuPearl;
  src: url(https://cdn.jsdelivr.net/gh/max32002/YuPearl@1.011/webfont/YuPearl-Regular.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/YuPearl@1.011/webfont/YuPearl-Regular.woff) format("woff");
  font-weight: 500;
}


@font-face {
  font-family: YuPearl;
  src: url(https://cdn.jsdelivr.net/gh/max32002/YuPearl@1.011/webfont/YuPearl-Medium.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/YuPearl@1.011/webfont/YuPearl-Medium.woff) format("woff");
  font-weight: 700;
}

@font-face {
  font-family: YuPearl;
  src: url(https://cdn.jsdelivr.net/gh/max32002/YuPearl@1.011/webfont/YuPearl-SemiBold.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/YuPearl@1.011/webfont/YuPearl-SemiBold.woff) format("woff");
  font-weight: 900;
}