footer {
  min-width: 100%;
  a {
    min-width: 107px;
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    color: #4f4f4f;
    text-decoration: none;
    padding-bottom: 10px;
  }
  h5{
    text-align: center;
  }
  .footer_end{
    border-top: solid 1px #c9a344;
  }
}