.sidebar {
  &:hover {
    color: white;
    background: $primary;
  }
}
.shopLink {
  h5,
  span {
    cursor: pointer ;
  }
}
.heart {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  .heart_pic:active {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  }
}
